{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "bracketSpacing": false,
    "printWidth": 140,
    "tabWidth": 4,
    "trailingComma": "es5",
    "quoteProps": "preserve",
    "arrowParens": "avoid",
    "singleQuote": false,
    "endOfLine": "auto"
}